{% extends "base.html" %}
{% block content %} 
<h1>Cook list</h1>
{% if cook_list %}

<table class="table mt-5 table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Full name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Work experience</th>
            {% for cook in cook_list %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'restaurant:cook-detail' cook.id %}">{{ cook.first_name }} {{ cook.last_name }}</a>
                
            </td>
            <td>
                {{ cook.username }}
       {% if user == cook %} <b>(Me)</b>{% endif%}

            </td>
            <td>
                {{ cook.email}}
            </td>
            <td>
                {{ cook.years_of_experience}} year{{ cook.years_of_experience | pluralize }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no cooks</p>
{% endif %}
 <a href="{% url 'restaurant:cook-create' %}" class="card-link">Add new profile</a><br>
{% endblock %}
