{% extends 'base.html' %}

{% block content %}
<h1 class="make-dish">All Dish Types</h1>
{% if dish_type_list %}
<table class="table table-bordered table-hover shadow-lg bg-white mt-5">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        {% for dish_type in dish_type_list %}
        <tr>
            <td>{{ dish_type.id }}</td>
            <td>
                <a href="{% url 'restaurant:dish-type-detail' dish_type.id %}">{{ dish_type.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no dish types </p>
{% endif %}
<div class="make-dish">
<p >Create a new dish type</p>
<a href="{% url 'restaurant:dish-type-create' %}" class="btn btn-secondary link-to-page btn-lg">Create</a>
</div>

{% endblock %}
